@use 'src/styles/vars';
@import 'src/styles/mixins';

.form {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  background-color: rgba($color: #000, $alpha: 0.3);
  z-index: 1;

  &__legend {
    color: vars.$lightest-color;
    font-size: 1.2rem;

    &:first-child {
      padding-top: vars.$gutter;
    }
  }

  &__section {
    display: flex;
  }

  &__landscapes,
  &__transports,
  &__seasons {
    padding: vars.$gutter;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__submit {
    position: absolute;
    height: 2rem;
    width: 4rem;
    bottom: -1rem;
    left: calc(50% - 2rem);
    border: none;
    border-radius: 50%;
    background-color: vars.$titles-box-and-buttons-color;
    transition: all 0.5s;

    &:hover {
      background-color: yellow;
      transform: scale(1.5);
    }
  }

  &__choices {
    padding: 1rem;
    margin: 0 3rem 2rem;
    border-radius: 10px;
    color: darken(vars.$header-main-color, 20%);
    background-color: vars.$titles-box-and-buttons-color;
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: vars.$gutter auto 2 * vars.$gutter;
    width: 90%;

    &-values {
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: vars.$lightest-color;
      font-size: 1.2rem;
    }

    // Slider style imported from https://www.cssportal.com/style-input-range/
    &-input {
      height: 39px;
      -webkit-appearance: none;
      width: 100%;
      background-color: transparent;

      &:focus {
        outline: none;
      }

      &::-webkit-slider-runnable-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 0px vars.$darkest-color;
        background: vars.$light-color;
        border-radius: 5px;
        border: 0px solid vars.$darkest-color;
      }

      &::-webkit-slider-thumb {
        box-shadow: 0px 0px 0px vars.$darkest-color;
        height: 32px;
        width: 16px;
        border-radius: 10px;
        background: vars.$titles-box-and-buttons-color;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -11.5px;
      }

      &:focus::-webkit-slider-runnable-track {
        background: vars.$light-color;
      }

      &::-moz-range-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        box-shadow: 0px 0px 0px vars.$darkest-color;
        background: vars.$light-color;
        border-radius: 5px;
        border: 0px solid vars.$darkest-color;
      }

      &::-moz-range-thumb {
        box-shadow: 0px 0px 0px vars.$darkest-color;
        height: 32px;
        width: 16px;
        border-radius: 10px;
        background: vars.$titles-box-and-buttons-color;
        cursor: pointer;
      }

      &::-ms-track {
        width: 100%;
        height: 10px;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
      }

      &::-ms-fill-lower {
        background: vars.$light-color;
        border: 0px solid vars.$darkest-color;
        border-radius: 10px;
        box-shadow: 0px 0px 0px vars.$darkest-color;
      }

      &::-ms-fill-upper {
        background: vars.$light-color;
        border: 0px solid vars.$darkest-color;
        border-radius: 10px;
        box-shadow: 0px 0px 0px vars.$darkest-color;
      }

      &::-ms-thumb {
        margin-top: 1px;
        box-shadow: 0px 0px 0px vars.$darkest-color;
        height: 32px;
        width: 16px;
        border-radius: 10px;
        background: vars.$titles-box-and-buttons-color;
        cursor: pointer;
      }

      &:focus::-ms-fill-lower {
        background: vars.$light-color;
      }

      &:focus::-ms-fill-upper {
        background: vars.$light-color;
      }
    }
  }
}

// MEDIA QUERIES
@include display-form-desktop {
  .form {
    width: 100%;

    &__legend:first-child {
      padding-top: 2rem;
    }

    &__section {
      flex-direction: column;
    }
  }
}
