@use 'src/styles/vars';

.form {
  background-color: rgba($color: #000, $alpha: 0.5);
  width: 50%;
  margin: 2rem;

  &__legend {
    color: vars.$lightest-color;
    font-size: 1.5rem;

    &:first-child {
      padding-top: 1rem;
    }
  }

  &__section {
    display: flex;
  }

  &__landscapes,
  &__transports,
  &__seasons {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
