@use 'src/styles/vars';

.trip-list {
  padding: 2em 0;
  position: relative;
}

.trip-title {
  background-color: vars.$titles-box-and-buttons-color;
  height: 2em;
  width: 16rem;
  font-size: 1.3em;
  padding: 0.8rem;
  margin: 2rem;
  position: absolute;
  font-weight: bold;
  color: vars.$main-block-and-fonts-color;
  text-transform: uppercase;
  top: 0.8rem;
}

.content {
  display: flex;
  justify-content: center;

  & .ui.image {
    max-width: initial;
    height: 300px;
  }
}

.ui.mini.image {
  position: absolute;
  padding-left: 0.3em;
}

.ui.cards {
  background-color: vars.$main-block-and-fonts-color;
  margin: auto;
  padding: 2em;
  justify-content: center;

  & .favorite {
    & a.label {
      color: vars.$titles-box-and-buttons-color;

      &:hover {
        color: rgba($color: vars.$darkest-color, $alpha: 0.6);
      }
    }

    & a.label .icon {
      cursor: pointer;
    }
  }

  & .not-favorite {
    & a.label:hover {
      color: vars.$titles-box-and-buttons-color;
    }

    & a.label .icon {
      cursor: pointer;
    }
  }
}

div.header {

  background-color: rgba($color: #828282, $alpha: 0.5);
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px;
  color: white;
}

.ui.card>.content,
.ui.cards>.card>.content {
  max-height: 300px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.ui.cards>.card {
  margin-top: 0.5rem;
  overflow: hidden;
}

.ui.card>.content>.header,
.ui.cards>.card>.content>.header {
  color: white
}

.ui.pagination.pointing.secondary.menu {
  display: flex;
  justify-content: center;
  background-color: vars.$main-block-and-fonts-color;
  padding-bottom: 1em;
}

.ui.secondary.pointing.menu .item {
  color: white;
  font-size: 1em;

}

.ui.corner.label {
  top: -300px;
}
