@use "./vars";

@mixin mobile-only {
  @media screen and (max-width: map-get(vars.$breakpoint, mobile)) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: map-get(vars.$breakpoint, tablet)) {
    @content;
  }
}

@mixin desktop {
  @media screen and (max-width: map-get(vars.$breakpoint, desktop)) {
    @content;
  }
}

@mixin video-mobile {
  @media screen and (max-width: map-get(vars.$breakpoint, video-mobile)) {
    @content;
  }
}

@mixin display-form-desktop {
  @media screen and (max-width: map-get(vars.$breakpoint, display-form-desktop)) {
    @content;
  }
}

@mixin mobile-link-style {
  display: block;
  width: max-content;
  font-size: 1.2rem;
  box-shadow: vars.$darkest-color 1px 1px 5px;
  border-radius: 0.5rem;
  padding: 0.5 * vars.$gutter;
  transition: 0.5s;
}

@mixin mobile-burger-button-div {
  width: 100%;
  height: 5px;
  background-color: vars.$lightest-color;
  border-radius: 2.5px;
  transition: all 0.5s;
}

@mixin form-input ($input-color) {
  padding: 0.5 * vars.$gutter;
  background-color: rgba($color: $input-color, $alpha: 0.8);
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;

  &:hover,
    &:focus {
      background-color: #fff;
    }
}
