$breakpoint: (mobile: 425px,
  tablet: 768px,
  desktop: 1024px,
  display-form-desktop: 1231px);

//COLORS
$header-main-color: #3fc1b5;
$form-highlight-color: #fedc56;
$dark-color: #636363;
$darkest-color: #000;
$lightest-color: #fff;

// GUTTER
$gutter: 1rem;
