$breakpoint: (mobile: 425px,
  tablet: 768px,
  desktop: 1024px,
  video-mobile: 540px);

//COLORS
$header-main-color: #3fc1b5;
$dark-color: #636363;
$darkest-color: #000;
$lightest-color: #fff;

// GUTTER
$gutter: 1rem;
