@use "src/styles/vars";

.container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: vars.$gutter * 3;
  margin-bottom: vars.$gutter * 3;
};

.title {
  width: 100%;
};

.form {
  width: 100%;
};

