@use "src/styles/vars";

.signin_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: vars.$gutter * 3;
  margin-bottom: vars.$gutter * 3;
};

.signin_container__title {
  width: 100%;
};

.form {
  width: 100%;
};

