@use 'src/styles/vars';
@import 'src/styles/mixins';

.home {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 2 * vars.$gutter 0;
  min-height: calc(100vh - 8rem - 96.44px);

  &__title {
    position: absolute;
    left: 2rem;
    top: -1.2rem;
    height: 2em;
    width: 16rem;
    font-size: 1.3em;
    padding: 0.8rem;
    font-weight: bold;
    background-color: vars.$titles-box-and-buttons-color;
    color: #446962;
    text-transform: uppercase;
    z-index: 1;
  }
}

@include tablet {
  .home__title {
    left: 50%;
    transform: translateX(-50%);
  }
}

@include display-form-desktop {
  .home {
    flex-direction: column-reverse;
  }
}

#background-video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
