@use 'src/styles/vars';
@import 'src/styles/mixins';

.home {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3 * vars.$gutter 0;

  &__title {
    position: absolute;
    width: fit-content;
    top: -1.5rem;
    left: 3rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: vars.$form-highlight-color;
    color: darken(vars.$main-blue-color, 20%);
    z-index: 3;
  }
}

@include tablet {
  .home__title {
    left: 50%;
    transform: translateX(-50%);
  }
}

@include display-form-desktop {
  .home {
    flex-direction: column-reverse;
  }
}

#background-video {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
