@use 'src/styles/vars';
@import 'src/styles/mixins';

.wrapper {
  position: relative;
  display: flex;
  justify-content: right;
}

#background-video {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}

@include video-mobile {
  #background-video {
    height: 100%;
    width: auto;
  }
}
