@use "src/styles/vars";
@import "src/styles/mixins";

// Wrapper
.container {
  position: relative;
  width: 75%;
  background-color: vars.$main-block-and-fonts-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: vars.$gutter*5;
  margin-bottom: vars.$gutter*5;
}

// Header component
.destination_header {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  position: absolute;
  left: 25%;
  right: 25%;
  top: -2em;
  height: 7em;
  background-color: vars.$main-block-and-fonts-color;
  margin: auto;

    &__upper_part {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 3.5em;
      background-color: vars.$titles-box-and-buttons-color;

        &-title {
          color: vars.$lightest-color;
          font-size: 2em;
          font-weight: bold;
        }
    }

    &__lower_part {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      height: 3.5em;

        &-flags {
          display: flex;
        }

        &-flags img {
          height: 3em;
        }

        &-infos {
          color: vars.$lightest-color;
          margin-right: 3.5em;

          &-nights{
            margin-right: vars.$gutter;
          }  
          &-way {
            margin-left: vars.$gutter;
            margin-right: vars.$gutter;
          }
          &-price {
            margin-left: vars.$gutter;
          }
          &-hidden {
            width: 0.1em;
            height: 0.1em;
            color: vars.$main-block-and-fonts-color;
          }
        }
  }
}

@include tablet {
  .destination_header {
    width: 90%;
    left: 5%;
  }
  .destination_header__lower_part-infos {
    margin-right: 0em;
    font-size: 0.9em;
  }
  .destination_header__lower_part-hidden {
    display: none;
  }
}


// Main Pic component
.main_pic {
  margin-top: 5em;
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}


// Summary component
.summary_wrapper {
  margin-top: min(vars.$gutter * 2);
  margin-left: min(vars.$gutter * 2);
  margin-right: min(vars.$gutter * 2);
  position: relative;
  z-index: 1;

  &__extract {
    color: vars.$lightest-color;
    border-left: 2px solid vars.$lightest-color; 
    padding-left: min(vars.$gutter);
    margin-bottom: min(vars.$gutter *2);
  }
  &__strong_points {
    width: 40%;
    background-color: vars.$titles-box-and-buttons-color;
    padding-left: min(vars.$gutter);
    padding-top: min(vars.$gutter);
    padding-bottom: min(vars.$gutter);

    &-title {
      font-weight: bold;
      color: vars.$main-block-and-fonts-color;
    }

    &-element {
      color: vars.$lightest-color;
      display: inline;
    }
  }
}

@include tablet {
  .summary_wrapper__strong_points {
    width: 75%;
    font-size: 0.9em;
  }
  .container {
    width: 95%;
  }
}

@include mobile-only {
  .summary_wrapper__strong_points {
    width: 100%;
  }
  .summary_wrapper__strong_points-element {
    font-size: 0.8em;
  }
  .container {
    width: 100%;
  }
}


// Middle Pics component
.middle_pics {
  width: 100%;
  position: relative;
  z-index: 0;
  top: -6em;
  display: flex;
  flex-wrap: wrap;
  margin-top: vars.$gutter * 1.5;

  &__pic1 {
    width: 100%;
    margin-bottom: vars.$gutter * 0.5;
    max-height: 80vh;
    object-fit: cover;
  }

  &__pic2 {
    width: calc(50% - vars.$gutter * 0.25);
    margin-right: vars.$gutter * 0.25;
    max-height: 40vh;
    object-fit: cover;
  }

  &__pic3 {
    width: calc(50% - vars.$gutter * 0.25);
    margin-left: vars.$gutter * 0.25;
    max-height: 40vh;
    object-fit: cover;
  }

}


// Itinerary component
.itinerary {
  position: relative;
  top: -6em;

  color: vars.$lightest-color;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: vars.$gutter * 4;
  margin-bottom: vars.$gutter * 4;

  &__icon {
    width: 4em;
    stroke: white;
    float: left;
    
    margin-right: vars.$gutter;
    margin-bottom: vars.$gutter;
  }
}


// Final Pic component
.final_pic {
  position: relative;
  top: -6em;
  width: 100%;
  max-height: 80vh;
  object-fit: cover;
}
