@use 'src/styles/vars';
@import 'src/styles/mixins';

.form-result {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 2rem 0;
  border-radius: 20px;
  width: 50%;
  height: 550px;

  &__list {
    width: 80%;
    height: 100%;
    margin: 2rem 0;
    overflow: auto;
  }

  &__empty {
    padding: 1rem;
    font-size: 1.2rem;
    color: white;
    background-color: rgba($color: #000, $alpha: 0.5);
    border-radius: 1rem;
  }
}

.destination {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: vars.$gutter;
  border-radius: 20px;
  background-color: rgba($color: #000, $alpha: 0.5);
  margin-bottom: vars.$gutter;
  color: vars.$lightest-color;

  &:last-child {
    margin-bottom: 0;
  }

  &__picture {
    height: 200px;
    border-radius: 20px;
    aspect-ratio: 1 / 1;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__surname {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    text-transform: uppercase;
    transition: all 0.5s;

    &:hover {
      color: vars.$header-main-color;
    }
  }

  &__extract,
  &__pros {
    font-size: 1.2rem;

    & span {
      display: block;
      font-size: 1rem;
      text-indent: 10px;
      max-height: 3rem;
      overflow: hidden;
      margin: 0.2rem 0 0.8rem;
    }
  }
}

@include display-form-desktop {
  .form-result {
    width: 100%;
    height: auto;
  }
}

@include tablet {
  .destination {
    height: auto;

    &__picture {
      display: none;
    }
  }
}
